body {
  font: 24px "Century Gothic", Futura, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #651fff;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 54px "Pacifico", "cursive";
  margin-bottom: 0;
}

ol, ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

ul > li:nth-child(1) {
  border-top: 1px solid rgba(255,255,255,0.14);
}

li {
  line-height: 50px;
  border-bottom: 1px solid rgba(255,255,255,0.14);
}

li > button {
  outline: none;
  background: transparent;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.24);
  cursor: pointer;
  transition: all 0.4s ease;
}

li > button:hover {
  color: rgba(255,255,255,1);
}

li > button.button-selected {
  color: rgba(255,255,255,1);
}

.board-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.status {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.game-board,
.game-info {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
}

.game-grid {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;

}

.square {
  background-color: transparent;
  font-family: "Pacifico", "cursive";
  border: 10px solid #651fff;
  font-size: 45px;
  color: #651fff;
  font-weight: 900;
  line-height: 34px;
  width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.square:focus {
  outline: none;
}

.square:hover {
  outline: none;
  background-color: rgba(101, 31, 255, 0.14);
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.winning,
.winning:hover {
  background-color: #ffff00;
}
